@media screen and (max-width: 1024px){
.top-nav{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 9999;
  top:0;
  margin-top: 0;
  width: 100%;
  height: 80px;
  overflow: hidden;
  -webkit-opacity:.92;
	-o-opacity:.92;
	-moz-opacity:.92;
	opacity: .92;
	-webkit-transition: all .5s ease-in;
	-moz-transition: all .5s ease-in;
	-o-transition: all .5s ease-in;
	        transition: all .5s ease-in;
}

/*hide menu*/
.nav-list{
	display: flex;
	flex-direction: column;
	list-style: none;
	text-align:center;
	width: 100%;
	height: 100%;
	padding-top: 2%;
	position: fixed;
	left: 0;
  z-index: 9999;
	background:#9640bc;
	top :-600%;
	float: left;
	-webkit-opacity:.92;
	-o-opacity:.92;
	-moz-opacity:.92;
	opacity: .92;
	-webkit-transition: all .5s ease-in;
	-moz-transition: all .5s ease-in;
	-o-transition: all .5s ease-in;
	        transition: all .5s ease-in;
}
.nav-list li{
	padding: 15px 10px;
}
.nav-list a{
	padding: 10px 40px;
	text-decoration: none;
	color:#fff;
	font-size: 2.5em;
	text-transform: uppercase;
}

/*btn*/
#navToggle{
	display: block;
	top: 5px;
	font-size: 4rem;
}
.logo{
margin-left: 5%;
font-size: 3em;
}
.sec_1{
	font-size: 1.5em;
}
.sec_2 h2,
.sec_3 h2,
.sec_4 h2,
.sec_5 h2,
.sec_6 h2,
.sec_7 h2{
  font-size: 3.5rem;
  font-family:" Spicy+Rice",sans-serif,serif;
}
.sec_2 h5,
.sec_3 h5,
.sec_4 h5,
.sec_5 h5,
.sec_6 h5,
.sec_7 h5{
  font-size: 1.7rem;
  padding:3% 0;
}
.sec_2 p,
.sec_3 p,
.sec_4 p,
.sec_5 p,
.sec_6 p,
.sec_7 p{
  font-size:  1.5rem;
  line-height: 1.4;
}
.sub-wrapper p{
  margin: 0 auto;
  font-size: 1.5rem;
  max-width: 700px;
  width: 100%;
  line-height: 1.7;
  font-weight: 100;
  padding-left: 0;
  padding-right: 0;
}
/* sec_3 */
.sec_3 .main-wrapper,
.sec_2 .main-wrapper{
  display: flex;
  flex-direction: column;
}
.sec_3 .main-wrapper p{
  max-width: 550px;
  width: 100%;
}
.main-wrapper h6{
font-size: 1.4rem;
padding: 0;
}
.sec_6 .main-wrapper{
  flex-direction: column;
}
.footer-link a{

  }
  .switch{
  	padding-right: 0px;
    padding-left: 0px;
  }
  .form-wrap{
  	padding-right: 0px;
    padding-left: 0px
  }


}
@media screen and (min-width:180px) and (max-width: 680px){
	#navToggle{
	display: block;
	position: absolute;

}
.main-wrapper{
	flex-direction: column;
}
.main-wrapper p{
  padding: 3% 0 3% 0;
}
.text-wrapper p{
	line-height: 50px;
    padding: 4%;
    text-transform: capitalize;
}

.sub-1,
.sub-2,
.sub-3,
.sub-4{
flex-direction: column;
padding-left: 0;
padding-right: 0;
}
.switch button{
	display: block;
	margin: 2% auto;
	max-width: 200px;
	width: 100%;
}
.sap-1,
.sap-2{
	padding: 0;
}
.finial-wrapper{
	display: flex;
	flex-direction: column;
}
.footer-link {
	  display: flex;
  flex-direction: column;
  margin-left: 0;
  }
  .sub-wrapper p{
    margin: 0 auto;
    font-size: 1.5rem;
    max-width: 400px;
    width: 100%;
    line-height: 1.7;
}
.footer-link a{
  padding: 2%;
}

}
@media screen and (min-width:180px) and (max-width: 580px){
  .sec_2 h2,
  .sec_3 h2,
  .sec_4 h2,
  .sec_5 h2,
  .sec_6 h2,
  .sec_7 h2{
    font-size: 1.8rem;
    font-family:" Spicy+Rice",sans-serif,serif;
  }
  .sec_2 h5,
  .sec_3 h5,
  .sec_4 h5,
  .sec_5 h5,
  .sec_6 h5,
  .sec_7 h5{
    font-size: 1rem;
    padding:3% 0;
  }
  .sec_2 p,
  .sec_3 p,
  .sec_4 p,
  .sec_5 p,
  .sec_6 p,
  .sec_7 p{
    font-size: .8rem;
    line-height: 1.4;
  }
  .sub-wrapper p{
    margin: 0 auto;
    font-size: .8rem;
    max-width: 700px;
    width: 100%;
    line-height: 1.7;
    font-weight: 100;
    padding-left: 0;
    padding-right: 0;
  }
  .sub-wrapper h6{
     font-size: 0.9rem;
  }
  .fab,
  .far{
    padding: 8px;
  }
input[type=text],
input[type=email]{
	width: 50%;
}
input.message{
	width: 50%;
  height: 100px;
}
input[type=button]{
  width: 30%;
}
}
@media screen and (min-width:180px) and (max-width: 380px){
  .sec_2 h2,
  .sec_3 h2,
  .sec_4 h2,
  .sec_5 h2,
  .sec_6 h2,
  .sec_7 h2{
    font-size: 1.4rem;
    font-family:" Spicy+Rice",sans-serif,serif;
  }
  .sec_2 h5,
  .sec_3 h5,
  .sec_4 h5,
  .sec_5 h5,
  .sec_6 h5,
  .sec_7 h5{
    font-size: 1.2rem;
    padding:3% 0;
  }
  .sec_2 p,
  .sec_3 p,
  .sec_4 p,
  .sec_5 p,
  .sec_6 p,
  .sec_7 p{
    font-size: .85rem;
    line-height: 2;
  }
.sub-wrapper h6{
  font-size: .7rem;
}
.sec_4 .sub-wrapper{
  margin: 5% 0 5% 0;
}
 .finial-wrapper{
    margin: 5% 0 5% 0;
 }
 .footer-link a{
   padding: 5%;
 }
 .btn-3d-1{
   padding: 8px 10px;
 }
}
